<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <firebase-signin @sign-in='signin'></firebase-signin>
    </div>

    <script type='text/x-template' id='firebase-signin'>
        <div style="position: absolute;top: 35%; left: 40%;" id="Login">
            <form>
                <table>
                    <tr>
                        <td>
                            <h2>Login</h2>
                        </td>
                        <td><button id="Send" @click="signin" style="margin-left: 1%;" type="button">Send</button></td>
                    </tr>
                    <tr>
                        <td><label for="Email">Email</label></td>
                        <td><input type="email" id="Email" v-model="email"></td>
                    </tr>
                    <tr>
                        <td><label for="Password">Password</label></td>
                        <td><input @keyup="signin" type="password" id="Password" v-model="password" autocomplete="on"></td>
                    </tr>
                </table>
            </form>
        </div>
    </script>

    <script src="/assets/config/firebasebundle.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        var db = FireBaseBuilder()();

        const {
            ref,
            watch,
            createApp
        } = Vue;

        const signin = ref(0);

        const app = createApp({
            setup() {
                return {
                    signin
                };
            }
        });

        app.component('firebase-signin', {
            template: '#firebase-signin',
            setup(props, {
                emit
            }) {
                // console.log('props', props);
                // console.log('emit', emit);

                const email = ref();
                const password = ref();

                function signin(event) {
                    //console.log('event', event);
                    if (event.keyCode == 13 || event.type == "click") {
                        console.log('email', email._value);
                        console.log('password', password._value);
                        firebase.auth().signInWithEmailAndPassword(email._value, password._value)
                            .then(() => {
                                alert('Success');
                            })
                            .catch((error) => {
                                console.log(error.message);
                                alert(error.message);
                            });
                    }
                    emit('sign-in');
                }

                return {
                    email,
                    password,
                    signin
                }
            }


        });

        app.mount('#app');
    </script>

</body>

</html>